<div class="user-setings-container">
  <div class="user__setings__container__item user__setings__container__item--active">
    <div class="user__setings__container__item__content" >
        <span class="user__setings__container__item_text">Sign Out</span>
        <span class="user__setings__container__item_img"><img src="../../../assets/exit.png" /></span>
    </div>
  </div>
  <div class="user__setings__container__item">
      <div class="user__setings__container__item__content" >
        <span class="user__setings__container__item_text">Change Account</span>
        <span class="user__setings__container__item_img"><img src="../../../assets/ch-password.png" /></span>
      </div>
  </div>
  <div class="user__setings__container__item user__setings__container__item__resp">
      <div class="user__setings__container__item__content" >
          <span class="user__setings__container__item_text">Change Color Thema</span>
      </div>
      <div class="user__setings__container__item__values">
          <div class="user__setings__container__item__values_color thema__TW"></div>
          <div class="user__setings__container__item__values_color thema__FB"></div>
          <div class="user__setings__container__item__values_color thema__VK"></div>
      </div>
  </div>

  <div class="user__setings__container__item">
    <div class="user__setings__container__item__content" >
        <span class="user__setings__container__item_text">Notifications</span>
        <span *ngIf="false" class="user__setings__container__item_img"><img src="../../../assets/notifications-on.png" /></span>
        <span class="user__setings__container__item_img"><img src="../../../assets/notifications-off.png" /></span>
    </div>
</div>

<div class="user__setings__container__item">
    <div class="user__setings__container__item__content" >
        <span class="user__setings__container__item_text">Languages</span>
        <span class="user__setings__container__item_img"><img src="../../../assets/translation.png" /></span>
    </div>
</div>
</div>
