<div class="container">
    <button style="background-color: white; border: 1px solid orange; width: 100%; height: 30px; margin-top: 10px;" routerLink="/news">News</button>
    <button style="background-color: white; border: 1px solid orange; width: 100%; height: 30px; margin-top: 10px;" routerLink="/messages">Messags</button>
    <button style="background-color: white; border: 1px solid orange; width: 100%; height: 30px; margin-top: 10px;" (click)="sendMsg()">Click</button>
    <button style="background-color: white; border: 1px solid orange; width: 100%; height: 30px; margin-top: 10px;" (click)="sendMsg()">Get Token</button>
</div>
